<h2>Edit your listing</h2>
<%= form_for @listings do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.label :title %>
	<%= f.text_field :title, :required => 'required'%><br>
	<%= f.label :property_type %>
	<%= f.text_field :property_type, :required => 'required' %><br>
	<%= f.label :address %>
	<%= f.text_field :address, :required => 'required' %><br>
	<%= f.label :city %>
	<%= f.text_field :city, :required => 'required' %><br>
	<%= f.label :country %>
	<%= f.text_field :country, :required => 'required' %><br>
	<%= f.label :no_bed %>
	<%= f.number_field :no_bed, min: 0, :required => 'required' %><br>
	<%= f.label :no_bathroom %>
	<%= f.number_field :no_bathroom, min: 0, :required => 'required' %><br>
	<%= f.label :max_guest, "" %>
	<%= f.number_field :max_guest, min: 0, :required => 'required' %><br>
	<%= f.label :price %>
	<%= f.number_field :price, min: 0, :required => 'required' %><br>
	<%= f.label :description %>
	<%= f.text_field :description, :required => 'required' %><br>
	<%= f.label :photos %>
	<%= f.file_field :photos, multiple: true %><br>
  <%= f.submit %>
  <% end %>

  <%= link_to "Back to profile page", user_path(current_user) %><br>