
<%= link_to "Search listings", listing_path(@listings) %><br>
<%= link_to "Add a listing", new_listing_path %><br>
<%= link_to "Back to main page", root_path %>
<%#= link_to "My Profile", user_path(@user) %>

<table>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>City</th>
	<th>Price (Rm)</th>
	<th>Book now</th>

</tr>
<%= will_paginate @listings %>
<% @listings.each do |listing| %>
<tr>
	<td><%= listing.title   %></td>
	<td><%= listing.description   %></td>
	<td><%= listing.city   %></td>
	<td><%= listing.price   %></td>
	<td><form action="/action_page.php">
        <input type="date" name="bday">
        <input type="submit">
        </form></td>
        <td><% if current_user.moderator? %>
    <%= button_to "Verify this", verify_path(listing)%>
    <% end %></td> 

</tr>
<% end %>
</table>

